

<!--page header start-->
<div class="page-header animated fast">
    <div class="row">
        <div class="col-sm-6">
            <h4>Inicio</h4>
        </div>
        <div class="col-sm-6 text-right">
            <ol class="breadcrumb">
                <li><a [routerLink]="['header']"><i class="fa fa-home"></i></a></li>
                <li>Pagina de Inico</li>
            </ol>
        </div>
    </div>
</div>
<!--page header end-->
<div class="animated fadeIn">


  <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget bg-primary padding-0">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center pv-15 bg-light-dark">
                                <em class="icon-cloud-upload fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-15 text-center">
                                <h2 class="mv-0">2300</h2>
                                <div class="text-uppercase">Uploads</div>
                            </div>
                        </div>
                    </div><!--end widget-->
                </div><!--end col-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget bg-teal padding-0">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center pv-15 bg-light-dark">
                                <em class="icon-bag fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-15 text-center">
                                <h2 class="mv-0">573</h2>
                                <div class="text-uppercase">Items</div>
                            </div>
                        </div>
                    </div><!--end widget-->
                </div><!--end col-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget bg-success padding-0">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center pv-15 bg-light-dark">
                                <em class="icon-users fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-15 text-center">
                                <h2 class="mv-0">1859</h2>
                                <div class="text-uppercase">Users</div>
                            </div>
                        </div>
                    </div><!--end widget-->
                </div><!--end col-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget bg-indigo padding-0">
                        <div class="row row-table">
                            <div class="col-xs-4 text-center pv-15 bg-light-dark">
                                <em class="icon-cloud-download fa-3x"></em>
                            </div>
                            <div class="col-xs-8 pv-15 text-center">
                                <h2 class="mv-0">456</h2>
                                <div class="text-uppercase">Downloads</div>
                            </div>
                        </div>
                    </div><!--end widget-->
                </div><!--end col-->
  </div>
<!-- TABLA !-->
  <div class="row">
    <div class="col-md-12">
                  <div class="panel panel-default collapsed">
                      <div class="panel-heading">
                          Pacientes del Día
                      </div>
                      <div class="panel-body">
                          <table class="table table-striped">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Pacientes</th>
                              <th>Hora</th>
                              <th>Obra Social</th>
                              <th>Médico</th>
                              <th class="text-center">Estado</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr>
                              <td>1</td>
                              <td>
                                <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a>&nbsp;
                                Juan Carlos Garcia
                              </td>
                              <td>
                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a>&nbsp;
                                10:23hs
                              </td>
                              <td>
                                <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i></a>&nbsp;
                                10:23hs
                              </td>
                              <td>
                                <a href="#"><i class="fa fa-user-md" aria-hidden="true"></i></a>&nbsp;
                                Dr. Fernandez, Claudio
                              </td>
                              <td class="text-center">
                                <button class="btn btn-teal btn-border btn-rounded" title="Dar Ingreso">
                                  <i class="fa fa-handshake-o" aria-hidden="true"></i>&nbsp;
                                </button>
                                <button class="btn btn-danger btn-border btn-rounded" title="Cancelar Turno">
                                  <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                              </td>
                          </tr>

                          </tbody>
                      </table>
                       </div>
                  </div>
      </div>
  </div>
  <br>
  <!-- TABLA !-->
    <div class="row">
      <div class="col-md-12">
                    <div class="panel panel-default collapsed">
                        <div class="panel-heading">
                            Pacientes del Día
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Pacientes</th>
                                <th>Tiempo de Espera</th>
                                <th>Ingreso Atención</th>
                                <th>Estado</th>
                                <th class="text-center">Estado</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <td>1</td>
                                <td>
                                  <a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a>&nbsp;
                                  Juan Carlos Garcia
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i></a>&nbsp;
                                  10:23hs
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-cogs" aria-hidden="true"></i></a>&nbsp;
                                  10:23hs
                                </td>
                                <td>
                                  <a href="#"><i class="fa fa-user-md" aria-hidden="true"></i></a>&nbsp;
                                  Dr. Fernandez, Claudio
                                </td>
                                <td class="text-center">

                                  <p class="text-warning">
                                    Atención en Curso...
                                  </p>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                         </div>
                    </div>
        </div>
    </div>


</div> <!-- FIN ANIMACION!-->
